# Core Python dependencies
numpy
pandas
tqdm
scipy
psutil
librosa
python-speech-features
portaudio19-dev
soundfile
scikit-learn
torch
torchvision
torchaudio
mlflow
dataclasses
pickle-mixin
flask
python-dotenv
sounddevice
scipy